$pallete-height-width: 40px;

$color-red: red;
$color-green: green;
$color-black: black;
$color-blue: blue;

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: move;
}

body {
    background-color: #d8d5d5;
    min-width: 640px;
}

.page {
    height: 100%;
    max-width: 1024px;

    margin: auto;
}

.header, .footer {
    height: 48px;
    width: 100%;
    background: #c4c4c4;

    line-height: 48px;
}

.action-button {
    height: 30px;
    padding: 0 10px;
    margin: 0 10px;

    border: 1px solid rgb(19, 19, 19);
    border-radius: 5px;

    cursor: pointer;

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    $selector:&;
    &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    &:focus {
        outline: none;
    }
}

.content {
    width: 100%;
    height: 420px;

    margin: 20px 0;

    section {
        float: left;
    }
    
    .menu-bar {
        background: #c4c4c4;
        height: 100%;
        width: 28%;
        margin-right: 20px;
    }
    
    .grid-bar {
        background: #c4c4c4;
        height: 100%;
    }
}

.pallete__menu {
    width: 100px;
    background: #fff;
    margin: auto;
}

.pallete {
    display: flex;
}

.pallete__drug_item {
    width: $pallete-height-width;
    height: $pallete-height-width;
    border: 1px solid #111;

    cursor: pointer;
}

.color-red {
    background-color: $color-red;
}
.color-green {
    background-color: $color-green;
}
.color-blue {
    background-color: $color-blue;
}
.color-black {
    background-color: $color-black;
}

.pallete__text {
    height: $pallete-height-width;
    line-height: $pallete-height-width;
    text-align: left;
    margin-left: 5px;
}

.grid__vertical {
    display: flex;
}

.grid__horisontal {
    width: $pallete-height-width;
    height: $pallete-height-width;
    border: 1px solid #111;
}

.drop-active {
    border: 1px solid white;
}

.footer {

    $selector:&;
    &:after {
        content: '';
        clear: both;
    }
}
