<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>AngularJS drug and drop</title>
    <link href="style/style.css" rel="stylesheet" />
</head>

<body ng-controller="mainController as ctrl">
    <div class="page">
        <header class="header">
            <button class="action-button" ng-click="ctrl.reset()">Reset</button>
            <button class="action-button" ng-click="ctrl.save()">Save</button>
            <input type="file" ngf-select="ctrl.load($file)"></input>
        </header>
        <main class="content">
            <section class="menu-bar">
                <h4>Pallete</h4>
                <div class="pallete__menu">
                    <div class="pallete">
                        <div class="pallete__drug_item color-red"
                             drag-item
                        ></div>
                        <div class="pallete__text">Red</div>
                    </div>
                    <div class="pallete">
                        <div class="pallete__drug_item color-green"
                             drag-item
                        ></div>
                        <div class="pallete__text">Green</div>
                    </div>
                    <div class="pallete">
                        <div class="pallete__drug_item color-blue"
                             drag-item
                        ></div>
                        <div class="pallete__text">Blue</div>
                    </div>
                    <div class="pallete">
                        <div class="pallete__drug_item color-black"
                             drag-item
                        ></div>
                        <div class="pallete__text">Black</div>
                    </div>
                </div>
            </section>
            <section class="grid-bar">
                <div class="grid__vertical" ng-repeat="x in ctrl.grid">
                    <div class="grid__horisontal" 
                        ng-repeat="y in ctrl.grid"
                        drop-item="ctrl.dropCallback(color, x, y)"
                        drop-item-coords="{x:x, y:y}"
                    >{{x}}:{{y}}</div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <ul>
                <li ng-repeat="item in json_view">Cell: {{item.cell}} have color {{item.color}}</li>
            </ul>
        </footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>
</body>

</html>